.about {
    display: flex;
    margin: 4rem 16rem;
    padding: 4rem 8rem;
    justify-content: center;
    gap: 8rem;
}

 .description{
    padding: 4rem 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
 }