.contact{
    display: flex;
    flex-direction: column;
    margin: 2rem;
    padding: 2rem;
    align-items: center;
    justify-content: right;
}

.contact-form{
    width: 25%;
}

.form{
    display: flex;
    flex-direction: column;
    background-color: aquamarine;
    gap: 1rem;
}

.form input{
    width: 100%;
}

.form input[type=message]{
    height: 15vh;
}