footer {
    display: flex;
    padding-top: 4rem;
    padding-bottom: 2rem;
    align-items: center;
    justify-content: center;
    gap: 12rem;
    background-color: black;
    color: white;
}

.form{
    padding-right: 25%;
}