footer {
    display: flex;
    padding-top: 4rem;
    padding-bottom: 2rem;
    align-items: center;
    justify-content: center;
    gap: 12rem;
    background-color: black;
    color: white;
}

footer ul{
    margin: 0 2rem;
    padding: 1rem 0;
    list-style: none;
    display: flex;
    gap: 2rem;
}

footer li{
    cursor: pointer;
    color: white;
}