.showcase{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6rem;
    margin: 2rem;
    padding: 2rem;
}

.gallery{
    display: flex;
    gap: 8rem;
}

img {
    width: 375px;
    height: 500px;
    object-fit: cover;
}