.hero{
    position: relative;
    background-image: url('/public/images/hero-image.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

.hero::before{
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 0;
}

.hero h1, .hero h2, .hero p{
    position: relative;
    color: white;
    text-align: center;
    text-shadow: 1px 1px 1.5px rgba(0, 0, 0, 0.4);
    z-index: 1;
}